
.pagination{
    width: 20px;
    height: 20px;
    border-radius: 10px;
    background-color: #fefefe;
    opacity: 0.3;

}
.pagination_active{
    width: 20px;
    height: 20px;
    border-radius: 10px;
    background-color: #ffc4a3;

}
