.wrapper {
  background-color: #678a91;
  width: 200px;
  color: white;
  font-family: "Roboto";
  height: 46px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  border-radius: 6px;
  padding: 10px;
  right: 10px;
  top: 30px;
  display: flex;
  gap: 20px;
  justify-content: space-around;
}
