.input {
  width: 250px;
  height: 40px;
  padding: 10px 30px;
  background-color: #b5d5d9;
  color: #94a9ac;
  border: 1px;
  border-radius: 6px;
  outline: none;

  &::placeholder {
    color: #94a9ac;
  }
}
