.wrapper {
  width: 100%;
  height: 300px;
  background-color: white;
  border-radius: 6px;

  .product {
    display: flex;
  }

  .info {
    font-size: 18px;
    width: 270px;
    row-gap: 5px;
    justify-content: center;
    display: grid;
  }
}
