.title {
  margin-bottom: 40px;
  font-size: 60px;
  text-align: center;
}

.wrapperCarts {
  display: grid;
  grid-template-columns: repeat(auto-fill, 384px);
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  justify-content: center;
  justify-items: stretch;
  align-items: stretch;
  align-self: center;
}

.wrapper_pagination {
  display: flex;
  justify-content: center;
  gap: 5px;
}
