.title {
  margin-bottom: 40px;
  font-size: 60px;
}
.wrapperCarts {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}
