.title {
  margin-bottom: 40px;
  font-size: 60px;
}

.wrapperCarts {
  display: grid;
  grid-template-columns: repeat(3, 1fr);

}

.wrapper_pagination{
  display: flex;
  justify-content: center;
  gap: 5px;

}