.title {
  font-family: "Coworking";
  text-align: center;
  font-size: 40px;
}

.cardWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-wrap: wrap;

  .line {
    width: 50px;
    border: 1px solid white;
  }
}
