.redirect {
  position: relative;
  color: white;
  margin-top: 15px;
  text-align: left;
  font-family: "Roboto";

  cursor: pointer;
  .reg {
    top: 0px;
    right: 0px;
    position: absolute;
    text-decoration: underline;
    color: white;
  }

  .home {
    color: white;
    position: absolute;
    width: 200px;
    top: 23px;
    right: -45px;
    text-decoration: underline;
  }
}
