.item {
  padding: 20px;
  width: 150px;

  .image {
    width: 150px;
    height: 190px;
    border-radius: 200px;

    img {
      border-radius: 200px;
      width: 150px;
      height: 190px;
    }
  }

  .title {
    font-size: 18px;
    margin-top: 6px;
    text-align: center;
  }
}
