.item {
  padding: 20px;
  width: 110px;

  .image {
    width: 110px;
    height: 150px;
    border-radius: 200px;

    border: 1px solid black;
  }

  .title {
    margin-top: 6px;
    text-align: center;
  }
}
