.switchWrapper {
  width: 70px;
  height: 23px;
  border-radius: 15px;
  border: 1px solid black;
  position: relative;
  .switch {
    position: absolute;
    cursor: pointer;
    background-color: #ffc4a3;
    width: 17px;
    height: 17px;
    border-radius: 10px;
    top: 3px;
    left: 5px;
    transition: 0.4s all ease-in-out;
  }
  .switchOn {
    position: absolute;
    cursor: pointer;
    background-color: black;
    width: 17px;
    height: 17px;
    border-radius: 10px;
    top: 3px;
    left: 50px;
    transition: 0.4s all ease-in-out;
  }
}
