.advantaWrapper {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 120px;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  max-width: 1400px;
  margin: 20px auto;
  height: 120px;
  border-radius: 6px;
  background-color: white;
  align-items: center;

  @media screen and (min-width: 1360px) {
    max-width: 1200px;
    margin: 0px auto;
  }

  .truck {
    display: flex;
    justify-content: center;
    gap: 20px;
  }
  h4 {
    width: 200px;
    font-weight: 500;
    font-family: "Roboto";
  }
  span {
    line-height: 20px;
    font-family: "Roboto";
  }
}
