.navbar {
  margin-top: 50px;
}

.title_text_btn {
  .title {
    margin-top: 110px;
    width: 340px;
    line-height: 80px;
    text-align: center;
    font-size: 66px;
    letter-spacing: 8px;
  }

  .text {
    margin-top: 20px;
    color: white;
    font-size: 14px;
    font-weight: 100;
    width: 390px;
    line-height: 25px;
  }

  .btn {
    margin-top: 45px;
  }
}

.advahtages {
  margin-top: 100px;
}

.catalog {
  margin-top: 90px;
}

.orderGuide {
  margin-top: 140px;
}

.footer {
  margin-top: 100px;
}
