.header {
  width: inherit;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;

  .barList {
    display: flex;
    align-items: center;
    gap: 39px;

    li {
      opacity: 0.7;
      color: white;
      font-family: "Roboto";
      font-size: 20px;
      font-weight: 400;
      cursor: pointer;
    }

    li:hover {
      opacity: 1;
      transition: 0.3s;
    }
  }
}
