.wrapperItem {
  width: 750px;
  height: 120px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 50px;
  grid-row-gap: 0px;
  align-items: center;
  justify-items: center;
  font-family: "Roboto";
  margin: 0 auto;

  .img {
    width: 95px;
    height: 135px;

    justify-self: center;

    img {
      border-radius: 100px;
      width: 95px;
      height: 135px;
    }
  }

  .countTittleWrapper {
    h3 {
      color: black;
      line-height: 30px;
      font-weight: 500;
      width: 270px;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 2;
      overflow: hidden;
      font-size: 20px;
    }
  }

  .childCount {
    display: flex;
    align-items: center;
    justify-content: space-between;

    span {
      font-weight: 300;
    }
  }

  .price {
    text-align: center;
    font-weight: 600;
    font-size: 30px;
    width: 100px;
  }
}
