.footer {
  background-color: #719da5c7;

  .footerWrapper {
    margin: 0 auto;
    width: 90%;

    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 100px;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    padding: 20px;
    padding-top: 60px;

    .logo {
      width: 200px;
      line-height: 20px;
    }

    .wrapperList {
      display: flex;
      align-items: center;
      justify-content: space-between;

      .company {
        bottom: 20px;
        font-size: 17px;
        font-family: "Roboto";
        color: white;
        font-weight: 100;
        line-height: 30px;

        cursor: pointer;
      }
    }

    .lastBlock {
      display: flex;
      justify-content: space-around;

      .socialNetwort {
        cursor: pointer;
        display: flex;
        align-items: center;
        gap: 20px;
        margin-top: 20px;
      }

      .numbers {
        color: white;
        font-family: "Roboto";
        font-size: 20px;
      }
    }
  }

  @media screen and (max-width: 1000px) {
    .lastBlock {
      flex-direction: column;
      gap: 35px;
    }
    .wrapperList {
      flex-direction: column;
      align-items: flex-start;

      .company {
        align-self: flex-start;
      }
    }
  }
}
