@font-face{
    font-family:'Coworking';
    src: url('./font/Coworking.otf');
    src: url('./font/Coworking.ttf');

}

body{
    background-color: #98bdc5;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}
header{
    display: flex;
    width: 1200px;
    align-items: center;
    margin: 50px auto;
    font-size: 20px;
    font-family: 'Roboto';
    font-weight: lighter;
    justify-content: 
    space-between;
    gap: 40px;
    h3{
    width: 100px;
    font-size: 16px;
    color: white;
    font-family: "Coworking";
    font-weight: 100;
    }
    ul{
    color: white;
    display: flex;
    gap: 50px;
    li:hover{
        font-family: 'Roboto';
        font-weight:400;
    }
    }

}
.busketLogo{
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px;
    border-radius: 50px;
    background: radial-gradient(100% 800%, #ffc4ae, #fefefe);
    img{
        width: 30px;
        fill: white;
    }

}
.descriptionBlock{
    width: 1200px;
    margin: 0 auto;
    color: white;
    
    .titleTextButton{
        display: flex;
        flex-direction: column;
        gap: 40px;
        width: 500px;  
   h1{
    font-size: 70px;
    font-family: 'Coworking';
    font-weight: 200;
}   
    p{
        width: 300px;
        font-size: 16px;
        font-family: 'Roboto';
        font-weight: lighter;
    }
    button{
        width: 200px;
        height: 70px;
        border: 1px;
        color: white;
        background: linear-gradient(to bottom,  #fefefe,#ffc4ae 50%);
    }
    }
}
.schemWork{
background-color: white;
    width: 1200px;
    height: 150px;
    margin: 100px auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
    .shems{
    display: flex;
    gap: 20px;    
}
    img{
    width: 50px;
    }
.shemtext{
    display: flex;
    flex-direction: column;
    width: 190px;
}

}
.catalogWrapper{
    width: 1200px;
    margin: 0 auto;
    h1{
    text-align: center;
    font-family: Coworking;
    color: white;
    font-size: 40px;
    letter-spacing: 5px;    

}
}
.inputBlock{
    display: flex;
    justify-content: center;
    margin-top: 20px;
    gap: 40px;
    align-items: center;
    input[type=range]  {
        width: 200px;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        outline: none;
        overflow: hidden;
        height: 7px;
      }
  
      input[type=range]::-webkit-slider-runnable-track {
        height: 7px;
        background-color: #fefefe;
      }
  
      input[type=range]::-webkit-slider-thumb {
        background: #ffc4ae;
        
        cursor: pointer;
        width:30px;
        height: 15px;
        -webkit-appearance: none;
        margin-top: -4px;
        box-shadow: -200px  0 0 200px  #fefefe;
  
      } 
    select{
        width: 200px;
        height: 50px;
        outline: none;
        background:linear-gradient(#fefefe, #98bdc5,  );
        border: 1px;
       
    }
}
.items{
    width: 1200px;
    margin: 0 auto;
   display: flex;
   justify-content: space-around;
   flex-wrap: wrap;
   gap: 100px;

}
.item{
    width: 300px;
    height: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    .image{
        width: 350px;
        border: 1px ;
        text-align: center;
        border-radius: 100px;
        border: 1px solid white;
    }
    img{
    width: 300px;
    border: 1px ;
    border-radius: 100px;
    
    }
    .btnWrapper{
    display: flex;
    align-items: center;
    gap: 20px;
.plus{
    display: flex;
    justify-content: center;
    width: 40px;
    height: 40px;
    border: 1px;
    border-radius: 20px;
    background-color: #ffc4ae;
}
img{
    width: 20px;
}
label{
    color: white;

}
    }
}
.busketWrapper{
    width: 1200px;
    gap: 50px;
    margin: 0 auto;
    display: flex;
    .orderBlock{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    input{
      width: 380px;
      height: 60px;  

    }
    }
    
    .itemBlock{
        width: 600px;
        margin-top: 20px;
        height: 500px;
        background-color: #fefefe;
        .titleCountPrice{
        display: flex;
        img{
        width: 140px;
        }
        }
        .countBlock{
        
        }
    }
}