.input {
  width: 250px;
  height: 40px;
  padding: 10px 30px;
  margin-bottom: 15px;
  background-color: #b5d5d9;
  color: #6a7f82;
  border: 1px;
  border-radius: 6px;
  outline: none;

  &::placeholder {
    color: #94A9AC;
  }
}
